<h1>Shoo Orders</h1>

<% @orders.each do |order| %>
  
  <p>Name: <%= order.full_name %> | Address: <%= order.address %> | Order: <%= order.quantity %> pairs of size <%= order.size %> shoes.</p>
  <% end %>