<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel='stylesheet' href= '/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans" rel="stylesheet">
  <title>Shoo Shop</title>
</head>
<body>
<div id="container">
<%= yield %>
</div>
</body>
</html>