<h1>Order Shoos</h1>

<form action="/order" method="post">

  <label for "full_name">Full name:</label>
  <input type="text" name="full_name"></input>
  <br>
  <label for "address">Address:</label>
  <input type="text" name="address"></input>
  <br>
  <label for "size">Select your size:</label>
  <!-- <input type="number"></input> -->
  <select name="size">
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>
  <br>
  <label for "quantity">Quantity:</label>
  <input type="text" name="quantity"></input>
  <br>
  <input type="submit" name="Order Shoes">




  

</form>